{% extends 'base.html' %} {% block content %}
<div
  class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4 gap-3"
>
  <h2 class="fw-bold mb-0">Listado de Doctores</h2>
  <form method="GET" class="d-flex gap-2">
    <input
      type="text"
      name="q"
      class="form-control"
      placeholder="Buscar por nombre..."
      value="{{ request.GET.q }}"
    />
    <button type="submit" class="btn btn-outline-dark btn-search">
      Buscar
    </button>
    {% if request.GET.q %}
    <a href="{% url 'listar_paciente' %}" class="btn btn-outline-secondary"
      >Limpiar</a
    >
    {% endif %}
  </form>
  <a href="{% url 'crear_doctor' %}" class="btn btn-panel px-4">
    <span class="me-1">+</span> Registrar Doctor
  </a>
</div>

<div class="card border-0 shadow-sm custom-card">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="custom-thead">
          <tr>
            <th class="ps-4">Nombre</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th class="text-center pe-4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for d in doctores %}
          <tr>
            <td class="ps-4 fw-medium">{{ d.nombre }}</td>
            <td>{{ d.apellido }}</td>
            <td>
              <span class="badge rounded-pill px-3 py-2 badge-doctores">
                {{ d.especialidad }}
              </span>
            </td>
            <td class="text-center pe-4">
              <div class="d-flex justify-content-center gap-2">
                <a
                  href="{% url 'editar_doctor' d.pk %}"
                  class="btn btn-sm btn-edit"
                  >Modificar</a
                >
                <a
                  href="{% url 'eliminar_doctor' d.pk %}"
                  class="btn btn-sm btn-delete"
                  >Eliminar</a
                >
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-center py-5 text-muted">
              <i class="mb-2 d-block mensaje-sin-horas">👨‍⚕️</i>
              No hay doctores registrados actualmente.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
