#Este es un archivo de ejemplo, tienes que crear en la raiz del proyecto un archivo llamado .env y dejas la variable DB_PASSWORD=tucontraseñadetubasededatos, y ya esta inicializada en settings.py
DB_PASSWORD=tucontraseñadetubasededatos